@use "sass:map";
@use "variables" as var;
@use "base";

@mixin msg($bg:#888 ) {
  border: 1px solid #ddd;
  border-radius: 5px;
  background: $bg;
  font-size: 1rem;
  color: white;
  padding: 1rem 1.25rem;
  margin: 1em 0;
  display: inline-block;
  cursor: pointer;

  &:hover {
    background: #555;
  }

  h1 {
    color: darkmagenta;
  }
  
}

.msg {
  @include msg;
  
  &-info {
    background: rgb(136, 170, 182);
    &:hover {
      background: rgb(77, 97, 104)
    }
  }
}

h1 {
  color: var.$primary;
}

@mixin btn($name: "", $bg: #444, $col: white) {
  .btn#{$name} {
    border: 0;
    border-radius: 5px;
    background: $bg;
    font-size: 1rem;
    color: $col;
    padding: 0.7rem 0.9rem;
    margin: 0.5em auto;
    display: inline-block;
    cursor: pointer;
  }
}

$buttons: 
(
  "-primary": 
  (
      RoyalBlue, 
      #3ab5e9
  ),
  "-secondary": 
  (
      green, 
      yellow
  )
);

@include btn("");
@each $key, $values in $buttons {
  @include btn($key, $values...);
}

$font-size: (3rem, 2.5rem, 2rem);
@for $i from 1 through length($font-size) {
  h#{$i} {
    font-size: nth($font-size, $i);
  }
}

